doctype html
html
  head
    title= title
  body
    h2= message
    | Enter a file: 
    form(method='post' enctype='multipart/form-data') 
      input(type='file' name='filename' id='fileInput')
      br
      input(type='submit' id='submitButton')
